 <div class="container">
    <div class="row">
      <div class="col-1" style="background-color: rgb(237, 233, 233);">
        <div class="row">
          <button (click)="submitDuck('MallardDuck')">Mallard Duck</button> 
          <button (click)="submitDuck('RedheadDuck')">Red head Duck</button> 
          <button (click)="submitDuck('RubberDuck')">Rubber Duck</button> 
          <button (click)="addGrid()">Grid Layout</button> 
        </div>
      </div>
      <div class="col-11">
        <div>
          <h2>Ducks</h2>
          <div *ngIf="ducks.length">
            <mat-grid-list cols="2" rowHeight="2:1">
              <div *ngFor="let duck of ducks; index as i">
              <mat-grid-tile >
                <div class="item" style="padding: 16px;" *ngIf = "!duck.hasChild()">
                  <h3>{{duck.getName()}}</h3>
                  <div style = "display: inline-flex;">
                    <button (click)="deleteDuck(duck.getId())">Delete</button>
                    <button (click)="editDuck(duck)">Edit</button>
                  </div>
                  <div >
                    <img style="width: 150px; height: 150px;" [src]="duck.isFlying() ? duck.getFlyGifImage() : duck.getImage()">
                    <div style = "display: inline-flex;">
                      <button (click)="setFly(duck)">Fly</button>
                      <button (click)="setQuack(duck)">Quack</button>
                    </div>
                  </div>
                </div>
                  <div *ngIf="duck.hasChild()" style="width: 500px;
                  height: 300px;">
                    <mat-grid-list cols="2" rowHeight="2:1">
                      
                      <div *ngFor="let duckChild of duck.getChilds(); index as i">
                        <mat-grid-tile  >
                          <div class="itemChild" style="padding-top: 10%;">
                            <h6>{{duckChild.getName()}} {{duckChild.isFlying()}}</h6>
                            <div style = "display: inline-flex;">
                              <button (click)="deleteDuck(duckChild.getId())">Delete</button>
                              <button (click)="editDuck(duckChild)">Edit</button>
                            </div>
                              <img style="width: 50px; height: 50px;" [src]="duckChild.isFlying() ? duckChild.getFlyGifImage() : duckChild.getImage()">
                              <div style = "display: inline-flex;">
                                <button (click)="setFly(duckChild)">Fly</button>
                                <button (click)="setQuack(duckChild)">Quack</button>
                              </div>
                            </div>
                        </mat-grid-tile>   
                      </div> 
                        
                    </mat-grid-list>
                    <select *ngIf="duck.getChilds().length < 4" (change)="addDuckChild(duck.getId(), $event.target.value)">
                      <option style="color: lightgray;">Add Duck</option>
                      <option value = "MallardDuck">Mallard Duck</option>
                      <option value = "RedheadDuck">Red head Duck</option>
                      <option value = "RubberDuck">Rubber Duck</option>
                    </select>  
                  </div>
              
              </mat-grid-tile>
            </div>
            </mat-grid-list>
            
          </div>
          <div *ngIf="!ducks.length">No Duck added</div>
        </div>
      </div>
      
    
  </div>
</div>
<router-outlet *ngIf="!hideBottom"></router-outlet>
<!-- is shown if hidebotton is false -->